language: node_js

node_js:
  - "10.20.0"

cache:
  directories:
    - node_modules

install:
  - yarn install

script:
  - yarn add coveralls
  - yarn coverage

after_script:
  - COVERALLS_REPO_TOKEN=$coveralls_repo_token npm run coveralls

